.sidebar-section {
  background-color: var(--light-text);
  padding: 1.5rem;
  border-radius: 4px;
}
.right-sidebar {
  padding: 2rem;
}

@media screen and (max-width: 60em) {
  .right-sidebar {
    display: none;
  }
}
