.home-page_main{
    padding: 0 3rem ;
}

.new-post_section{
    border-radius: 1rem;
    background-color: var(--light-text);
    padding: 2rem;
    margin: 2rem;
}
.new-post_textarea{
    border-radius: 4px;
    border-color: var(--primary-color);
    width: 100%;
    min-height: 10rem;
    padding: .5rem;
    font-family: inherit;
    font-size: larger;
}
.new-post_actions{
    display:flex;
    justify-content: space-between;
}
.new-post_actions>*{
    gap: 1.5rem;
}
.icons{
    font-size: 1.4em;
}

.gif-icon{
    
    border:solid ;
}