.post-card {
  padding-bottom: 2rem;
  margin: 2rem auto;
  max-width: 60rem;
}

.post-image {
  border-radius: 2rem;
  max-height: 40rem;
  padding-inline: 1rem;
  margin: auto;
  width: 100%;
}
.user-section {
  margin: 1rem 0 1rem 2rem;
  gap: 2rem;
}
.post-content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-menu {
  position: relative;
  margin-left: auto;
  margin-right: 2rem;
}
.post-menu .dropdown {
  width: 14rem;
  right: 0;
}
.post-actions {
  display: flex;
  gap: 2rem;
  margin: 0 2rem;
}
.post-actions-icons {
  font-size: 1.4em;
  cursor: pointer;
}
.likes-count {
  margin-left: auto;
}
.comment-section {
  gap: 1rem;
  padding: 0 2rem;
  border-top: thin solid;
}
.comment-input {
  padding: 10px;
  background: var(--gray-bg);
  width: 100%;
  border-radius: 4px;
  border: 0;
}
.comment-input:focus-visible {
  border: solid var(--primary-color);
  outline: 0;
}
.post-comment-btn {
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--light-text);
  padding: 1rem;
}
