.edit-user_modal {
  border-radius: 1rem;
  background-color: var(--light-text);
  min-width: 50%;
  padding: 2rem;
}
.edit-user_modal > * {
  margin-block: 2rem;
}
.edit-user_modal .btn {
  margin-left: auto;
}
.edit-modal-pic{
  max-height:30rem;
}
.artsy-textarea textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  font-size: larger;
  resize: vertical;
}
.artsy-input label {
  width: fit-content;
}
.artsy-textarea textarea:focus-visible {
  outline: 0;
  border: thin solid var(--primary-color);
}
