.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

.user {
  cursor: pointer;
  position: relative;
}
.user:hover .user-dropdown {
  display: flex;
}
.user-dropdown {
  position: absolute;
  top: 5rem;
  right: 0;
  background: var(--light-bg);
  color: var(--primary-text);
  box-shadow: 0 0 10px -2px var(--secondary-text);
  width: 20rem;
  padding: 1rem 0;
  border-radius: 0.4rem;
  display: none;
  z-index: var(--user-dropdown-index);
}
.user-dropdown > * {
  align-self: stretch;
  padding: 1rem 1rem;
  justify-content: space-between;
}
.user-dropdown > *:hover {
  background: var(--primary-text);
  color: var(--light-bg);
}
.search-input {
  position: relative;
}
.search-dropdown {
  background: var(--light-text);
  border-radius: 4px;
  max-height: 70vh;
  overflow: auto;
  position: absolute;
  top: 100%;
  z-index: 1;
  box-shadow: 0 2px 10px -4px var(--secondary-text);
}
.search-dropdown > * {
  margin-inline: 0;
  padding-inline: 1rem;
}
.search-dropdown > *:hover {
  background: var(--light-bg);
}
