.aside {
  padding: 3rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}
.aside-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.2em;
}

.aside-text {
  min-width: fit-content;
  margin-inline-start: 2rem;
}
.aside-item.active .aside-text {
  text-decoration: underline solid var(--primary-color) 2px;
  text-underline-position: under;
}
