@import url("https://artsyui.netlify.app/src/artsyui.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");
@import "./styles/cards.css";

:root {
  --z-index-modal: 3;
  --user-dropdown-index: 2;
  --aside-z-index: 1;
  --z-index-dropdown: 1;
}
.body {
  --secondary-color: rgb(35, 35, 37); /* rgb(9, 11, 19) */
  --light-bg: rgba(240, 240, 240, 1);
  --light-text: rgba(254, 254, 254);
  --light-black: rgba(0, 0, 0, 0.36);
  --light-white: rgba(250, 250, 250, 0.36);
}
.body.dark {
  --light-bg: rgba(0, 0, 0, 0.961); /*  rgba(22, 26, 43, 1);*/

  --primary-text: rgb(245, 245, 245);
}

/* page layout */
.body {
  height: 100vh;
  width: 100vw;
  padding-inline: 5%;
  background: var(--light-bg);
  color: var(--primary-text);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header header"
    "aside main  right-aside";
}
.main {
  grid-area: main;
  overflow: scroll;
}
.header {
  grid-area: header;
}
.aside {
  grid-area: aside;
}
.right-sidebar {
  grid-area: right-aside;
}
@media screen and (max-width: 520px) {
  .aside {
    grid-column: 1/3;
    z-index: var(--aside-z-index);
    background: var(--light-bg);
  }
  .main {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
}

/* scroll bar styling */
.main::-webkit-scrollbar {
  width: 1rem;
  padding: 1rem;
}
.main::-webkit-scrollbar-thumb {
  background: var(--primary-text);
  border-radius: 1rem;
}

/*  */

.artsy-input input[type="text"],
.artsy-input input[type="password"] {
  background: transparent;
}
.artsy-input.icon-input .icon {
  position: absolute;
  font-size: 1.5rem;
  top: 1.5rem;
  left: 1rem;
}

/* utils */
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-m {
  margin: 0 1rem;
}
.m-top {
  margin-top: 2rem;
}
.btn.disabled-btn {
  cursor: default;
  background-color: var(--gray-bg);
  color: var(--primary-text);
}

.capitalize {
  text-transform: capitalize;
}
.section {
  margin: 3rem 5rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 35rem;
  grid-gap: 2rem;
}
.floating-button {
  border-radius: 50%;
  background: var(--primary-color);
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 10%;
  right: 5%;
  padding: 1.5rem;
  font-size: larger;
  color: var(--light-text);
  z-index: var(--z-index-modal);
}
